.admin__login {
    display: flex;
    justify-content: center;	
}

.xem {
	height: auto;
	width: 90%;
	margin: 70px auto;
	color: #000;
	font-size: 1.2rem;
}

.chitiet {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 20px;
}

.hinhanh_sanpham {
	width: 27%;
}

.img_chitiet {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.chitiet_sanpham {
	width: 70%;
}

.gioithieu_sanpham {
	color: #000;
	font-size: 1.2rem;
}

.come_back {
	display: flex;
	justify-content: center;
	align-items: center;
}

.function_click {
	display: flex;
	justify-content: center;
}

.function_click a{
	display: flex;
	align-items: center;
	color: #fff;
	padding: 5px 7px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.function_click-see {
	margin: 10px 5px;
	background: rgb(4, 96, 245, 0.9);
}

.function_click-see:hover {
	color: #183153;
	background: rgb(4, 96, 245, 0.6);
}

.function_click-edit {
	margin: 10px 0;
	background: rgba(4, 245, 189, 0.9);
}

.function_click-edit:hover {
	color: #183153;
	background: rgba(4, 245, 189, 0.6);
}

.function_click-delete {
	margin: 10px 5px;
	background: rgba(245, 19, 3, 0.9);
}

.function_click-delete:hover {
	color: #183153;
	background: rgba(245, 19, 3, 0.6);
}

.function_click-back {
	text-decoration: none;
	margin: 10px 5px;
	background: rgba(150, 1, 1, 0.9);
}

.function_click-back:hover {
	color: #183153;
	background: rgba(150, 1, 1, 0.6);
}

.td-name{
	padding: 0 20px;
}

.table-add-edit {
    border: 1px solid #e3e6f0;
}
.table-add-edit th {
	width: 30%;
}

.table-add-edit td {
	border: 1px solid #e3e6f0;
	color: #183153;
	padding: 10px;
}
  
.table-add-edit thead th {
	border-bottom-width: 2px;
	text-align: center;
	color: #183153;
	line-height: 2;
}

.table-add-edit thead td {
	border-bottom-width: 2px;
	color: #183153;
}

.add-edit-input {
	width: 400px;
}

.add-edit-select {
	width: 150px;
}

.add-edit-submit {
	padding: 5px 7px;
	margin: 10px 5px;
	background: rgb(54, 148, 220, 0.9);
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.add-edit-submit:hover {
	background: rgb(54, 148, 220, 0.6);
	color: #183153;
}

.container-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 20px;
	padding: 0;
}

.container-search {
	width: 40%;
	border: 1px solid #183153;
	border-radius: 3px;
}

.container-wrap {
	display: flex;
	align-items: center;
}

.container-input {
	width: 450px;
    height: 35px;
    font-size: 1.4rem;
	padding: 5px 7px;
	outline: none;
	border: none;
}

.container-serapate::after {
	content: "";
    border-left: 1px solid #bebaba;
    display: block;
    height: 30px;
}

.container-select {
	width: 150px;
    height: 40px;
    font-size: 1rem;
	outline: none;
	border: none;
	margin-right: 10px;
	padding-left: 10px;
	cursor: pointer;
}

.container-btn {
	background-color: rgb(102, 161, 17, 0.9);
	width: 70px;
	height: 40px;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px;
}

.container-btn:hover {
	background-color:rgb(102, 161, 17, 0.6);
	color: #183153;
}

.container-icon {
	font-size: 1.4rem;
}

.container-add-click {
	background-color:rgb(102, 161, 17, 0.9);
	color: #fff;
	padding: 3px 30px;
	font-size: 1.4rem;
	line-height: 2rem; 
	font-weight: 600; 
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor: pointer;
}

.container-add-click:hover {
	background-color:rgb(102, 161, 17, 0.6);
	color: #183153;
}

.container-add-right {
 display: flex;
 justify-content: flex-end;
 margin: 20px 0;
 padding: 0;
}

.thongbao-phanquyen {
	width: 100%;
	text-align: center;
	color:#183153;
	font-size: 1.4rem;
	line-height: 2;
}

.error {
	font-size: 1rem;
	display: flex;
	align-items: center;
	color: #A94442;
	background: #F2DEDE;
	width: 100%;
	height: 30px;
	border-radius: 3px;
}

.msg {
	font-size: 1.2rem;
	color: #183153;
	font-weight: 600;
	display: flex;
	align-items: center;
	margin: 10px;
	height: 30px;
	border-radius: 3px;
}

.table_pay {
    width: 100%;
	border: 1px solid #ccc;
}

.table_pay thead {
    text-align: center;
    height: 50px;
}

.table_pay tbody td {
    text-align: center;
    height: 50px;
}

.total_money-pay {
    text-align: center;
    font-size: 20px;
    height: 100px;
    color: black;
}

.payment_confirmation {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #82AE46;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all .3s ease;
}

.payment_confirmation:hover{
    background-color: white;
    color: #82AE46;
    border: 1px solid #82AE46;
}

.detail_order {
	width: 100%;
    padding: 20px 150px;
	color: #183153;
	font-size: 1.4rem;
}

.detail_order p:nth-child(1) {
	color: #183153;
	text-align: center;
}

